# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../:\J2EE\J2EE_WorkSpece\Mavn_Webapp\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
